{% extends "base.html" %}
{% block title %}User{% endblock %}
{% block content %}
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
            <p>{{msg}}</p>
            {% endfor %}
        {% endif %}
    {% endwith %}
<form action="#" method="POST">
    <input type="email" name="email" placeholder="Enter email" value="{{email if email}}"/><!--Were gonna pass a variable to this template that's called email. Were gonna check if email has a value, and if it does then we're gonna display that as the value for this email rather than displaying the placeholder on enter email-->
    <input type="submit" value="submit"/> 
</form>
{% endblock %}